<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title><%= title %></title>
</head>
<body>
<h1>Multivisions</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione delectus quibusdam accusamus earum, aliquam, deserunt sed iusto. Accusantium saepe placeat vitae ut pariatur fugit corporis eum officiis obcaecati veritatis, incidunt.</p>

<ul>
	<% for(var i=0; i<users.length; i++){ %>
		<li> <%=  users[i]  %></li>
	<% } %>
</ul>
</body>
</html>